[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Pillow = "*"
mutagen = "*"
PyInstaller = {file = "https://github.com/pyinstaller/pyinstaller/archive/develop.tar.gz"}
pipenv = "*"

[dev-packages]

[requires]
python_version = "3.8"
