[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Pillow = "==6.2.2"
mutagen = "*"
PyInstaller = {file = "https://github.com/pyinstaller/pyinstaller/archive/develop.tar.gz"}

[dev-packages]

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
